---
import Layout from '../components/layout.astro';
---

<style>
.steps {
  background: var(--light);
  display: grid;
  gap: 2rem;
  grid-template-columns: min(90vw, 250px);
  justify-content: center;
  margin-top: 3rem;
  padding: 5rem 5vw;
  width: 100vw;
}

@media (min-width: 550px) {
  .steps {
    grid-template-columns: repeat(2, min(calc(50% - 1rem), 250px));
  }
}

@media (min-width: 1050px) {
  .steps {
    grid-template-columns: repeat(4, min(calc(25% - 1.5rem), 250px));
  }
}

.step {
  background: var(--white);
  border: 1px solid var(--lightBorder);
  border-radius: var(--card-radius);
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  padding: 1rem 1.5rem 1.5rem;
  text-align: left;
  box-shadow: 0 2px 4px rgb(14 30 37 / 12%);
}

.stepHeading {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}


</style>

<Layout
  title="Praniti's Website"
  description="Website under construction"
  home
>
  <main class="steps">
    <section class="step">
      <h2 class="stepHeading">hello</h2>
      <p>
        hi i am praniti and i am currently having fun building this website, thx for stopping by.
      </p>
    </section>

    <section class="step">
      <h2 class="stepHeading">work</h2>
      <p>
        i work as an Advisory Consultant at Crowe and love my job. i work on CECL validations for financial institutions
        and also help with Earnout reviews.
      </p>
      <a href="https://www.linkedin.com/in/praniti-sapkal/" class="button">
        LinkedIn
      </a>
    </section>

    <section class="step">
      <h2 class="stepHeading">things i like</h2>
      <p>
        i enjoy cooking & baking, and plan to add my cooking successes and fails here.
        i am also getting into plants and growing vegetables + herbs.
      </p>
    </section>

    <section class="step">
      <h2 class="stepHeading">contact me</h2>
      <p>
        feel free to reach out!
      </p>
      <a href="mailto: praniti.294@gmail.com" class="button">
        say hi! <span class="sr-only">about Netlify Forms</span>
      </a>
    </section>
  </main>
</Layout>
